.main-container {
    display: flex;
    justify-content: center;
    margin-top: 2%;
  }
  
  
  @media screen and (max-width: 768px) {

    th {
      border-bottom: 1px solid #f4dc42;
    }

    h1 {
      text-align: center;
      margin: 5% 5% 5% 5%;
    }

  }

  @media screen and (min-width: 768px) {
    h1 {
      text-align: left;
      margin-right: 2%;
      margin-left: 2%;
      padding-top: 20%;  
    }

    tbody {
      border-left: 1px solid #f4dc42;
    }
  }
  
  
  
  mat-paginator {
    background-color: black;
    color: #f4dc42;
  }
  
  input {
    color: #f4dc42;
    margin-left: 2%;
    border-bottom: 1px solid #f4dc42 !important;
  }
  
  ::placeholder {
    color: #f4dc42;
  }