nav {
    padding-left: 4%;
    padding-right: 4%;
    -webkit-box-shadow: 0px 0px 0px 0px;
    background-color: #f4dc42 !important;
}

.brand-logo {
    color: black;
}

.brand-logo:hover {
    color: #8e8d6f
}

a {
    color: black; 
}