.main-container {
    display: flex;
    justify-content: center;
    padding-top: 2%;
    background-color: black; 
}

input {
    color:#f4dc42;
    border-bottom: 1px solid #f4dc42 !important;
}

::placeholder {
    color: #f4dc42;
}

.card {
    background-color: black!important;
    border: 1px solid #f4dc42;
}

.underline {
    border-bottom: 1px solid #f4dc42;
    padding-bottom: 5%; 
}