.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
}

.row {
    display: flex; 
    justify-content: center;
}

img {
    width: 60%;
    filter: brightness(80%)
}

span {
    font-size: 2em;
    text-align: center;
    filter: brightness(80%)
}

.buttons {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 3%;
}

button {
    color: #f4dc42;
    margin-top: 2%; 
    margin-bottom: 2%;
    width: 100%;
    height: 5vh; 
}


button:hover {
    background-color:#f4dc42;
    opacity: 0.8;
}